# Git
.git
.gitignore
.github

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Testing
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
tests/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Project specific
.env
.deepsource.toml
.pylintrc
Dockerfile
# README.md is kept because it's standard, but could be ignored if we want to save few KB. I'll keep it.
