[[source]]
url = "https://mirrors.cloud.tencent.com/pypi/simple/"
verify_ssl = true
name = "tencent"

[packages]
jinja2 = "*"
wordcloud = "*"
jieba = "*"
ttrss-python = "*"
flask = "*"
bootstrap-flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
