-i https://mirrors.cloud.tencent.com/pypi/simple/
bootstrap-flask==1.5.3
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
flask==2.2.5
idna==2.10
itsdangerous==2.0.1
jieba==0.42.1
jinja2==2.11.3
markupsafe==2.0.1
requests==2.25.1
ttrss-python==0.5
urllib3==1.26.5
werkzeug==2.0.1
