-i https://mirrors.cloud.tencent.com/pypi/simple/
bootstrap-flask==1.5.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
flask==1.1.2
idna==2.10
itsdangerous==1.1.0
jieba==0.42.1
jinja2==2.11.3
markupsafe==1.1.1
requests==2.25.1
ttrss-python==0.5
urllib3==1.26.4
werkzeug==1.0.1
