<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {{ bootstrap.load_css() }}
    <title>Homepage</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TTRSS Dashboard</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link text-primary font-weight-bold" href="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled text-info font-weight-lighte"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Brought to you by Colin</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="container" style="padding-top: 30px">
      <h1 class="align-content-center">Colin's TTRSS Dashboard</h1>
      <blockquote class="blockquote">
        <p class="mb-0">
          Prefer knowledge to wealth, for the one is transitory, the other
          perpetual.
        </p>
        <footer class="blockquote-footer">Socrates</footer>
      </blockquote>
      <section id="summary">
        <h2>Summary</h2>

        <div class="card-group">
          <div class="card border-success mb-3" style="max-width: 18rem">
            <div class="card-header">Feeds</div>
            <div class="card-body text-primary">
              <p class="card-text" style="font-size: 3em">
                {{ summary.feed_count }}
              </p>
            </div>
          </div>
          <div class="card border-success mb-3" style="max-width: 18rem">
            <div class="card-header">Unread</div>
            <div class="card-body text-success">
              <p class="card-text" style="font-size: 3em">
                {{ summary.unread_count }}
              </p>
            </div>
          </div>
          <div class="card border-success mb-3" style="max-width: 18rem">
            <div class="card-header">Labels</div>
            <div class="card-body text-info">
              <p class="card-text" style="font-size: 3em">
                {{ summary.label }}
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="categories">
        <h2>Categories</h2>
        <ul class="list-group">
          {% for i in summary.categories %}
          <button
            type="button"
            class="list-group-item list-group-item-action"
            onclick="window.location.href='./cat/{{ i.id }}'"
          >
            {{ i.title }}
            <span class="badge badge-primary badge-pill">{{ i.unread }}</span>
          </button>
          {% else %}
          <li>列表为空</li>
          {% endfor %}
        </ul>
      </section>
    </main>
    <footer>
      <div class="footer" style="padding-top: 40px">
        <p class="text-black-50 center small text-center">
          Copyright Colinx.One 2020
        </p>
      </div>
    </footer>
    {{ bootstrap.load_js() }}
  </body>
</html>
